<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bmi calculator</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <style>
        #jumbo {
            padding: 5px;
        }
    </style>
</head>
<body>
    {{!-- <h1>Bmi calculator</h1>
    <form action="http://localhost:3000/process-contacts" method="POST">
        Weight:
        <input type="text" name="weight"/>
        <br>
        Height:
        <input type="text" name="height"/>
        <br>
        <input type= "submit" value="Submit"/>
    </form> --}}

    <div class="container">
        <div class="jumbotron bg-light">
            <div class="row my-4">
                <h1 class="display-4 ">Welcome to the most effiecent BMI Calculator</h1>
                <p class="lead">
                    This is a simple webpage run on hbs, express and node that will continue to remind you about how overweight/ obese you are regarless of how much muscle you actually have.
                </p>
                <form action="http://localhost:3000/process-contacts" method="POST">
                    Weight:
                    <input type="text" class="form-control" name="weight"/>
                    <br>
                    Height:
                    <input type="text" class="form-control" name="height"/>
                    <br>
                    <input type= "submit" class="btn btn-primary" value="Submit"/>
                </form>
            </div>
        </div> 
    </div>
    </div>

</div>
</body>
</html>